<% layout('layout') %>
<form method="POST" action="/user/create">
  <div>
    <label for="formName">Name</label>
    <input
      name="name"
      type="text"
      id="formName"
      placeholder="Enter your name..."
    />
  </div>
  </div>
  <div class="col-12">
    <button type="submit">Create User</button>
  </div>
</form>