<% layout('layout') %>
<p>HOME PAGE</p>
<div style="display: flex; flex-direction: row;">
  <a href="/user/all">select existing user</a>
  <hr />
  <a href="/user/create">create a new user</a>
</div>
