<% layout('layout') %>
<p>HOME PAGE</p>
<div style="display: flex; flex-direction: row">
  <a href="/user/all">select existing user</a>
  <hr />
  <a href="/user/create">create a new user</a>
</div>

<% data.map((d) => { %>
  <p>name: <%= d.p_pokemon_name %></p>
  <p>type: <%= d.t_type_name %></p>
  <p>nickname: <%= d.up_nickname %></p>
  <img src="<%= d.p_picture %>" height="40px" width="40px" />
<% }) %>
