<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Manager</title>
    <link href="./main.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <div class="grid grid-cols-12">
        <div class="col-span-8 col-start-3 flex flex-col justify-center items-center"><%- body %></div>
      </div>
    </main>

    <script src="/scripts.js"></script>
  </body>
</html>
